[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CUFF"]
	path = CUFF
	url = https://github.com/giguerch/cuff
[submodule "mmeln"]
	path = mmeln
	url = https://github.com/cran/mmeln
